.button {
  background-color: $white;
  color: $brand-primary;
  text-transform: lowercase;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border: 1px solid $brand-primary;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s linear, background-color 0.3s linear;

  &:hover {
    background-color: transparent;
    color: $brand-primary;
  }

  &-large {
    padding: 20px 36px;
    border-radius: 26px;
    font-size: 24px;
  }
}
